<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Preparcial{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% include "includes/navbar.html" %}
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <p>Preparcial - Heynner Velasco</p>
    </footer>
</body>
</html>
